@import "src/variables.module";

$menuHeight: 25px;
$menuWidth: 200px;

.dropdownWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: $menuWidth;
    min-width: $menuWidth;
    height: $menuHeight;
    background-color: $backgroundColor;
    border: 1px solid $backgroundFocus;
    border-radius: 2px;
    box-shadow: 0px 0px 3px 0px $backgroundFocus;

    &:hover {
        cursor: pointer;
    }
}

.label {
    padding-left: 5px;
}

.arrowWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: 24px;
    border-style: solid;
    border-color: $backgroundFocus;
    border-width: 0 0 0 1px;
}

.list {
    position: absolute;
    z-index: 11;
    width: $menuWidth;
    min-width: $menuWidth;
    top: $menuHeight;
    background-color: $buttonColor;
    text-align: start;
}

.dropdownItem {
    padding: 10px;
    border: 1px solid $backgroundFocus;
    box-shadow: 0px 0px 10px 0px $backgroundFocus;

    &:hover {
        background-color: $backgroundFocus;
    }
}