@import "src/variables.module";

.divider {
    border: 3px solid $backgroundFocus;
    border-radius: 1rem;
    margin: 10px 0;
}

.paginationWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 20px;
}

.arrow {
    margin: 0 20px;

    &:hover { 
        color: $backgroundFocus;
        cursor: pointer;
    }
}

.backArrow {

}

.pageNumber {
    padding: 5px 10px;

    &:hover { 
        color: $backgroundFocus;
        cursor: pointer;
    }
}

.selectedPage {
    border: 2px solid $backgroundFocus;
}