@import "src/variables.module";

.buttonWrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: $backgroundColor;
    border-radius: 3px;
    border: 1px solid #c8c8c8;
    letter-spacing: 0.1rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.button {
    @include Label;
    outline: 0;

    &:hover {
        cursor: pointer;
        background-color: $backgroundFocus;
    }

    &:active {
        transform: scale(0.95);
    }
}

.label {
    margin: 1rem;
}