@import "src/variables.module";

$margin : 0.3rem 0;

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $primaryColor;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 1rem;
    border-bottom: 2px solid $primaryColor;
}

.header {
    font-size: 2rem;
    margin: $margin;
}

.sideLink {
    margin: $margin;
    color: $primaryColor;
    font-weight: 400;
}

.span {
    font-weight: bold;
    color: $secondaryColor;
}